.content-border-footer {
    position: absolute;
    width: 100%;
    bottom: 60px;
    border-bottom: 2px solid #E5E5E5;
}

.label-footer {
    position: absolute;
    font-family: "openSans-ligth";
    font-weight: 400;
    font-size: 16px;
    line-height: 70px;
    text-align: center;
    color: #9AA0A4;
    width: 100%;
}